body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 50px;
}

.green-color {
    color: green;
}

section {
    display: flex;
    margin-bottom: 150px;
}

.half-width {
    width: 50%;
    padding-left: 1.5%;
}

.half-width img {
    width: 60%;
    padding-left: 5%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(#a8392a, #d94430);
    padding: 10px 40px;
    color: black;
    font-weight: 700;
    border-radius: 5px;

}



.leftpart {
    display: flex;

    border-radius: 5px;
    padding: 3%;

    background-color: #dcebfa;


}

.middlepart {
    display: flex;
    border-radius: 5px;
    padding: 3%;
    background-color: #f5dce5;

}

.rightpart {
    display: flex;

    border-radius: 5px;
    padding: 3%;
    background-color: #ffcccc;
}

.rightpart img {
    size: 2px;
    padding-left: 1%;
}

.middlepart img {
    size: 2px;
    padding-left: 1%;
}

.leftpart img {
    size: 2px;
    padding-left: 1%;
}


.one img {
    width: 40%;
    padding-left: 20%;
    padding-right: 20%;
}

.two {
    width: 70%;
    padding-left: 0.5%;
    padding-right: 5%;
}

.three {
    width: 70%;
    padding-left: 15%;
    padding-right: 0.5%;
}

.four img {
    width: 40%;
    padding-left: 20%;

    padding-right: 10%;
}

footer {
    text-align: center;
    padding: 8px;
    background-color: rgb(4, 4, 31);
    color: white;
}

.tomato-color {
    color: coral;

}

.my-mission {
    padding: 5px;

}